!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class files
*.class

# Package files
*.war
*.ear

# IDE files
.idea/
.vscode/

# Build output
target/
build/

# Dependency directories
lib/
libs/

# Log files
*.log

# OS-specific files
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Thumbnails ###
Thumbs.db